# Vite build output
dist/
.out/

# Vite cache
node_modules/
.vite/
.cache/
.temp/

# Env & config
.env
.env.local
.env.*.local

# OS junk
.DS_Store
Thumbs.db

# VSCode settings (opsiyonel)
.vscode/

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# IDE configs
.idea/
*.iml

# Optional: macOS trash
.Trashes
